## TMDB (obrigatório: preencha pelo menos um)
TMDB_API_KEY=
TMDB_ACCESS_TOKEN=

## Opcional
TMDB_BASE_URL=https://api.themoviedb.org/3

## Recomendado (se você mover SECRET_KEY para env)
FLASK_SECRET_KEY=

